# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Cache files
__pycache__/
**.pyc

# VSCode
**/.vscode/

# VS
**/.vs/
*.db
*.suo
*.lock
*.ipch
*.tlog
*.tlb
*.tlh
*.bak
*.obj
*.pch
*.pdb
*.idb
*.aps
*.ncb
*.sbr
*.sdf
*.ilk
